[Unit]
Description=pigpiod
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=putnamjm
ExecStart=sudo /usr/bin/pigpiod -g

[Install]
WantedBy=multi-user.target